extend layout

block content
  h2 #{activity.activity_name}
  h3 Destinations with #{activity.activity_name}
  ul
    each destination in activity.destinations.length ? activity.destinations : [null]
      if destination
        li #[a(href='/destinations/'+destination.destination_id) #{destination.destination_name}] in #[a(href='/countries/'+destination.country_code) #{destination.country_name}].  #{destination.description}
block sidebar
block map

