extend layout

block content
  h2 #{country.country_name}
  p
    | Based on our itinerary, #{country.country_name} likely offers #{country.min_days}-#{country.max_days} days of activities.
  h3 Destinations
  ul
    each destination in country.destinations.length ? country.destinations : [null]
      if destination
        li #[a(href='/destinations/'+destination.destination_id) #{destination.destination_name}] for #{destination.min_days}-#{destination.max_days} days

block sidebar

