extend layout
block content
  p
    | Countries!
  table
    each result in results.length ? results : ['There are no countries']
      if result
        tr
          td= result.destination_name
          td= result.country_code
          td= result.min_days
          td= result.max_days
          td
            ul
              each activity in activity_name.length ? activity_name : [null]
                if activity
                  li= activity
          td
            ul
              each desc in description.length ? description : [null]
                if desc
                  li= desc
block sidebar
  .widget
    p
      | nothing to see here

